/* Hero.css */

.hero-container {
  background:url(../img/img2.jpg);
  background-position: center;
  height:100vh;
  background-size: cover;
}

@media(max-width:40rem){

  .hero-container {
    height:40vh;
  }

}